/* variables */
:root {
  --pink-one: #fec7d7; /* 7 */
  --pink-two: #eebbc3; /* 12 */
  --blue-one: #0e172c; /* 7 */
  --blue-two: #232946; /* 12 */
  --blue-three: #b8c1ec; /* 12 */
  --blue-four: #d9d4e7;
  --white-one: #fffffe; /* 7 & 12 */
  --white-two: #f9f8fc; /* 7 */

  /* lightmode */
  --light-theme-background: var(--pink-one);
  --light-theme-font: var(--blue-one);
  --light-theme-headline: var(--blue-one);
  --light-theme-button: var(--blue-one);
  --light-theme-button-text: var(--white-one);

  /* darkmode */
  --dark-theme-background: var(--blue-two);
  --dark-theme-font: var(--blue-three);
  --dark-theme-headline: var(--white-one);
  --dark-theme-button: var(--pink-two);
  --dark-theme-button-text: var(--blue-two);
}

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* theme */
#lightmode {
}

#darkmode {
}

/* general styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--white-one);
  color: var(--black-colour);
  display: flex;
  line-height: 1.6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  text-rendering: optimizeLegibility;
}

h1,
h1 > a,
h1 > a:link h2,
h2 > a,
h2 > a:link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--light-theme-headline);
  text-decoration: underline;
}

.container {
  width: 80%;
  max-width: 1420px;
  margin: 0 auto;
}

header,
section#explore-more {
  width: 100%;
  padding: 7em;
}

header {
  background-color: var(--light-theme-background);
  text-align: center;
}

header p {
  letter-spacing: 0.1em;
}

input,
select {
  padding: 0.5em;
  background-color: var(--white-one);
  color: var(--blue-one);
  outline: none;
  border: none;
  margin: 1em 0;
  padding: 1.2rem;
  display: inline-block;
  font-size: 1rem;
  float: left;
  width: 90%;
}

input:first-of-type {
  border-radius: 0.75em 0 0 0.75em;
}

button,
a.button {
  background-color: var(--light-theme-button);
  color: var(--light-theme-button-text);
  outline: none;
  border: none;
  border-radius: 0 0.75em 0.75em 0;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}

button:hover,
a.button:hover,
a.button:focus {
  cursor: pointer;
}

section#search-flights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  section#search-flights {
    flex-direction: column;
    input,
select {
  padding: 0.5em;
  background-color: var(--white-one);
  color: var(--blue-one);
  outline: none;
  border: none;
  margin: 1em 0;
  padding: 1.2rem;
  display: inline-block;
  font-size: 1rem;
  float: left;
  width: 80%;
}
   
  }
  
}

#explore-more article {
  min-width: 100%;
  height: 28.5rem;
  background-image: url(https://images.unsplash.com/photo-1584467541268-b040f83be3fd?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNhbnRvcmluaSUyMG5pZ2h0fGVufDB8fDB8fHww);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-theme-button-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  border-radius: 0.75em;
}

#explore-more article h3 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
}

#explore-more article h3,
#explore-more article p {
}

.info {
  width: 35%;
  margin-left: 3rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.75em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: var(--blue-four);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.75em;
  margin-top: 3rem;
  width: 32%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
  padding: 0 2rem;
}

.card-info ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-info ul li {
  margin-right: 0.5rem;
}

.card-info ul li a,
.card-info ul li a:link {
  text-decoration: none;
}

.card-image img {
  width: 130px;
  height: 100px;
  margin-bottom: -6px;
  border-radius: 0.75em 0 0 0.75em;
}
