/* imported font (inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

/* variables */
:root {
  --background-colour: #fec7d7;
  --font-colour: #0e172c;
  --button-font-colour: #fffffe;
  --main-content-colour: #f9f8fc;
  --purple-one: #d9d4e7;
  --purple-two: #a786df;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* general styles */
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--main-content-colour);
  color: var(--font-colour);
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-decoration: underline;
}

header#header {
  background-color: var(--background-colour);
  padding: 3rem 0;
}

.container > div > p,
#contact-us p {
  letter-spacing: 0.1em;
}

section#about-us {
  padding: 3rem 0;
  background-color: var(--font-colour);
  color: var(--button-font-colour);
}

section#contact-us {
  padding: 3rem 0;
  background-color: var(--background-colour);
}

section#popular-flights {
  padding: 3rem 0;
}

input:focus,
textarea:focus {
  outline: none;
}

header input,
header select,
header textarea {
  float: left;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--font-colour);
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  background-color: var(--main-content-colour);
}

header select {
  box-sizing: border-box;
  padding: 1.21rem 0.5rem;
}

header form > div.row > div:nth-of-type(1) > input {
  border-radius: 0.5em 0.5em 0 0;
}

form > div.row > div:nth-of-type(5) > select {
  border-radius: 0 0 0.5em 0.5em;
}

select:first-of-type {
  border-bottom: none;
  margin-bottom: 0.5em;
}

button,
.button {
  background-color: var(--font-colour);
  color: var(--button-font-colour);
  outline: none;
  border: none;
  padding: 1rem 1.75rem;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  border-radius: 0.5em;
  text-decoration: none;
  transition: all ease 0.1s;
}

button:hover,
.button:hover,
button:focus,
.button:focus {
  background-color: #2f426d;
  cursor: pointer;
}

#travellersModal input,
#travellersModal select {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--font-colour);
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.card {
  background-color: var(--purple-one);
  outline: none;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

section#contact-us lable,
section#contact-us input,
section#contact-us textarea {
  display: block;
  width: 100%;
}

section#contact-us input,
section#contact-us textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--font-colour);
  border-radius: 0.5em;
  resize: none;
}

footer {
  background-color: var(--background-colour);
}

section#contact-us form {
  text-align: start !important;
}

section#popular-flights .popular-destination {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
  transition: all ease 0.1s;
}

section#popular-flights .popular-destination:hover,
section#popular-flights .popular-destination:focus {
  transform: scale(1.05);
}

section#popular-flights .popular-destination::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--button-font-colour);
  padding: 0.25em 1em;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  border-radius: 0 0.5em 0 0.5em;
}

section#popular-flights #london {
  background-image: url('../images/destinations/london.jpeg');
}

section#popular-flights #new-york {
  background-image: url('../images/destinations/new-york.jpeg');
}

section#popular-flights #berlin {
  background-image: url('../images/destinations/berlin.jpeg');
}

section#popular-flights #rome {
  background-image: url('../images/destinations/rome.jpeg');
}

section#popular-flights #barcelona {
  background-image: url('../images/destinations/barcelona.jpeg');
}

section#popular-flights #edinburgh {
  background-image: url('../images/destinations/endinburgh.jpeg');
}

section#popular-flights #paris {
  background-image: url('../images/destinations/paris.jpeg');
}

section#popular-flights #belfast {
  background-image: url('../images/destinations/belfast.jpeg');
}

section#popular-flights #dublin {
  background-image: url('../images/destinations/dublin.jpeg');
}

section#popular-flights #amsterdam {
  background-image: url('../images/destinations/amsterdam.jpeg');
}

section#popular-flights #prague {
  background-image: url('../images/destinations/prague.jpeg');
}

section#popular-flights #copenhagen {
  background-image: url('../images/destinations/copenhagen.jpeg');
}

section#popular-flights a:hover,
section#popular-flights a:focus {
  background-color: red;
  transform: scale(2);
}

.card-head {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10em;
  height: 10em;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#dev-curtis {
  background-image: url('../images/avatars/curtis.jpg');
}
#dev-adrian {
  background-image: url('../images/avatars/adrian.jpg');
}
#dev-eric {
  background-image: url('../images/avatars/eric.png');
}

/* screens bigger than 576px */
@media screen and (max-width: 576px) {
  header form > div.row > div:nth-of-type(1) > input {
    border-radius: 0.5em 0.5em 0 0;
  }

  form > div.row > div:nth-of-type(5) > select {
    border-radius: 0 0 0.5em 0.5em;
  }

  form > div.row > div:nth-of-type(6) > input {
    border-radius: 0 0 0em 0em;
  }
}

/* screens bigger than 768px */
@media screen and (min-width: 768px) {
  header form .row > * {
    padding-right: 0;
    padding-left: 0;
  }

  header form > div.row > div:nth-of-type(1) > input {
    border-radius: 0.5em 0 0 0;
    border-right: 1px solid var(--font-colour);
  }

  header form > div.row > div:nth-of-type(2) > input {
    border-radius: 0 0.5em 0 0;
  }

  header form > div.row > div:nth-of-type(3) > input {
    border-right: 1px solid var(--font-colour);
  }

  form > div.row > div:nth-of-type(5) > select {
    border-radius: 0 0 0 0.5em;
    border-right: 1px solid var(--font-colour);
  }

  header form > div.row > div:nth-of-type(6) > button {
    border-radius: 0 0 0.5em 0;
  }
}

/* screens bigger than 992px */
@media screen and (min-width: 992px) {
  header form > div.row > div:nth-of-type(1) > input {
    border-radius: 0.5em 0 0 0.5em;
    border-bottom: none;
  }

  header form > div.row > div:nth-of-type(2) > input {
    border-radius: 0;
    border-bottom: none;
    border-right: 1px solid var(--font-colour);
  }

  header form > div.row > div:nth-of-type(3) > input,
  header form > div.row > div:nth-of-type(4) > input {
    border-bottom: none;
    border-right: 1px solid var(--font-colour);
  }

  form > div.row > div:nth-of-type(5) > input {
    border-radius: 0;
    border-bottom: none;
    border-right: 1px solid var(--font-colour);
  }

  header form > div.row > div:nth-of-type(6) > button {
    border-radius: 0 0.5em 0.5em 0;
  }

  body {
    font-size: 1.1rem;
  }

  h1,
  h2. h3 {
    font-size: 3.5rem;
  }

  header#header {
    padding: 5rem 0;
  }

  section#about-us,
  section#popular-flights,
  section#contact-us {
    padding: 5rem 0;
    text-align: start;
  }

  section#about-us > div > div,
  section#popular-flights > div > div,
  section#contact-us > div > div {
    text-align: start;
  }
}

/* screens bigger than 1200px */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.4rem;
  }

  h1,
  h2. h3 {
    font-size: 4.5rem;
  }

  header#header {
    padding: 7rem 0;
  }

  section#about-us,
  section#popular-flights,
  section#contact-us {
    padding: 10rem 0;
    text-align: start !important;
  }

  section#about-us > div > div,
  section#popular-flights > div > div,
  section#contact-us > div > div {
    text-align: start !important;
  }
}
